<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<div class="page-start-spacer"></div>
<video #videoPlayer muted loop playsinline preload="auto" class="background-video">
    <source src="assets/Arcade.mp4" type="video/mp4" />
  </video>
    <div class="container">
        <a href="/playstation" class="card">
            <img src="assets/ps/playstation.png" alt="Playstation logó">
            <h3>Playstation</h3>
            <p></p>
        </a>
        <a href="/xbox" class="card">
            <img src="assets/xbox/xbox.png" alt="Xbox logó">
            <h3>Xbox</h3>
            <p></p>
        </a>
        <a href="/nintendo" class="card">
            <img src="assets/nintendo/nintendo.png" alt="Nintendo logó">
            <h3>Nintendo</h3>
            <p></p>
        </a>
        <a href="/atari" class="card">
            <img src="assets/atari/atari.png" alt="Atari logó">
            <h3>Atari</h3>
            <p></p>
        </a>
        <a href="/sega" class="card">
            <img src="assets/sega/sega.png" alt="Sega logó">
            <h3>Sega</h3>
            <p></p>
        </a>
        <a href="/stern" class="card">
            <img src="assets/stern/stern.png" alt="Stern logó">
            <h3>Stern</h3>
            <p></p>
        </a>
        <a href="/williams" class="card">
            <img src="assets/williams/williams.jpg" alt="Williams logó">
            <h3>Williams</h3>
            <p></p>
        </a>
        <a href="/bally" class="card">
            <img src="assets/bally/Bally.jpg" alt="Bally logó">
            <h3>Bally</h3>
            <p></p>
        </a>
        <a href="/nutting" class="card">
            <img src="assets/nutting/na.jpg" alt="Nutting Associates logó">
            <h3>Nutting Associates</h3>
            <p></p>
        </a>
        <a href="/konami" class="card">
            <img src="assets/konami/Konami.jpg" alt="Konami logó">
            <h3>Konami</h3>
            <p></p>
        </a>
        <a href="/taito" class="card">
            <img src="assets/taito/taito.png" alt="Taito Corporation logó">
            <h3>Taito Corporation</h3>
            <p></p>
        </a>
        <a href="/exidy" class="card">
            <img src="assets/exidy/exidy.png" alt="Exidy logó">
            <h3>Exidy</h3>
            <p></p>
        </a>
        <a href="/namco" class="card">
            <img src="assets/namco/namco.png" alt="Namco logó">
            <h3>Namco</h3>
            <p></p>
        </a>
    </div>
<div class="page-end-spacer"></div>    