    <div class="container">
        <a href="/playstation" class="card">
            <img src="assets/Playstationlogo.jpg" alt="Playstation logó">
            <h3>Playstation</h3>
            <p></p>
        </a>
        <a href="/xbox" class="card">
            <img src="assets/xboxlogo.jpg" alt="Xbox logó">
            <h3>Xbox</h3>
            <p></p>
        </a>
        <a href="/nintendo" class="card">
            <img src="assets/nintendo-symbol.jpg" alt="Nintendo logó">
            <h3>Nintendo</h3>
            <p></p>
        </a>
        <a href="/atari" class="card">
            <img src="assets/Atari.jpg" alt="Atari logó">
            <h3>Atari</h3>
            <p></p>
        </a>
        <a href="/sega" class="card">
            <img src="assets/Sega.jpg" alt="Sega logó">
            <h3>Sega</h3>
            <p></p>
        </a>
    </div>