* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #20212f;
}
/*     background-image: url(háttér.jpg);
    background-repeat: no-repeat;
    background-size: cover;
*/

/* Navbar */
.navbar {
    background-color: #222121;
    width: 100%;
    overflow: hidden;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar li {
    flex-grow: 1;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    text-align: left;
}

.navbar a:hover {
    background-color: #333;
    /*text-decoration: underline;*/
    /*text-decoration-color: #693030;*/
    /*text-decoration-thickness: 3px;*/
}

/* Slideshow */
.slideshow-container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    position: relative;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
}

.fade {
    animation: fadeEffect 1.5s ease-in-out;
}

@keyframes fadeEffect {
    from { opacity: 0.4; }
    to { opacity: 1; }
}

/* Kör alakú képek stílus */
.image-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.circle-image {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}

.circle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

/* Tartalom megjelenítésének stílusa */
.content-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Átlátszatlan háttér */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Eltakarja a mögötte lévő tartalmat */
}

.content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 600px;
    width: 80%;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #575757;
}
