.container {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  position: relative;
  background-color: #000;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
  }
}

.content {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-position: center;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 2px 2px 10px rgba(133, 0, 0, 0.5);
  padding: 20px;
  text-align: center;
  z-index: 1;
}

.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1; 
}

.content p {
  position: relative;
  font-size: clamp(1em, 2vw, 1.5em); 
  z-index: 2;
  text-align: center;
  padding: 10px;
}

@media (max-width: 768px) {
  .content {
    flex: none;
    padding: 15px;
  }
}

.timeline {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
  background-color: #222;
  border-left: 5px solid #e20000;
}

@media (max-width: 768px) {
  .timeline {
    border-left: none;
    border-top: 5px solid #e20000;
    padding: 20px 10px;
  }
}

.timeline-item {
  cursor: pointer;
  padding: 10px 20px;
  margin: 20px 0;
  background: #e20000;
  border-radius: 50px;
  text-align: center;
  font-size: 1.2em;
  width: auto;
  position: relative;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  color: #fff;
  box-shadow: 0 0 15px #e20000;
  border: 3px solid #fff;
}

@media (max-width: 768px) {
  .timeline-item {
    font-size: 1em;
    padding: 8px 15px;
    margin: 15px 0;
  }
}

.timeline-item:hover {
  background: #e20000;
  transform: scale(1.1);
  box-shadow: 0 0 20px #e20000;
}

.timeline-item.selected {
  background: #a30000;
  color: #000;
}

.timeline-item.selected::before {
  background-color: #a30000;
}

.timeline-item:not(:last-child) {
  margin-bottom: 40px;
}

.timeline-item.selected:not(:last-child)::after {
  border-top-color: #a30000;
}

@media (max-width: 768px) {
  .timeline-item {
    display: none;
  }

  .timeline-item:is(.selected, :last-child) {
    display: flex;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }

  .mobile-nav button {
    background: #e20000;
    color: white;
    font-family: 'Press Start 2P', cursive;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s;
  }

  .mobile-nav button:disabled {
    background: gray;
    cursor: not-allowed;
  }

  .mobile-nav button:hover:not(:disabled) {
    background: #a30000;
  }
}

.download-button {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.download-button button {
  background: #e20000;
  color: white;
  font-family: 'Press Start 2P', cursive;
  border: 3px solid #fff;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.2em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px #e20000;
  border-radius: 50px;
  width: auto;
}

.download-button button:hover {
  background: #a30000;
  box-shadow: 0 0 20px #a30000;
}

@media (max-width: 768px) {
  .download-button button {
    font-size: 1em;
    padding: 8px 15px;
    margin: 15px 0;
  }
}
