@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.dark-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

body {
  font-family: 'Press Start 2P', cursive;
  color: white;
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100vh;
}

div {
  position: relative;
  z-index: 2;
  padding: 20px;
}

.filters {
  padding: 10px;
  width: 100%;
}

input, select {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.8em;
  background: black;
  color: white;
  border: 2px solid white;
  padding: 5px;
  width: 80%;
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 5px solid white;
  box-shadow: 0px 0px 10px #e20000;
  margin: 20px 0;
}

table tr th, table tr td {
  text-align: center;
  padding: 10px;
  border: none;
}

table tr th {
  background-color: #e20000;
  color: white;
}

button {
  background: #e20000;
  color: white;
  font-family: 'Press Start 2P', cursive;
  border: 3px solid #fff;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1em;
  border-radius: 5px;
  box-shadow: 0 0 15px #e20000;
  position: relative;
}

button:hover {
  background: rgb(150, 16, 16);
  color: #ffffff;
  box-shadow: 0 0 25px #ff0000;
}

.button-text {
  display: inline; 
}

.button-plus {
  display: none; 
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}

.machine-list, .user-games {
  width: 48%;
}

.arcade-display {
  color: white;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  width: 100%;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  background: none;
  border: none;
  z-index: 10;
  position: sticky;
  top: 20px;
}

.arcade-display table {
  width: 100%;
  margin: 0;
}

.arcade-display th, 
.arcade-display td {
  border: none;
  padding: 8px;
  text-align: center;
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.8em;
}

.arcade-display th {
  background: rgba(0, 0, 0, 0.2);
}

.arcade-display td {
  background: rgba(0, 0, 0, 0.5);
}

@keyframes blink {
  50% { opacity: 0; }
}

.no-games {
  animation: blink 3s infinite;
  color: red;
  text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.7);
}

.arcade-display h2 {
  color: white;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
  font-size: 1.2em;
}

.arcade-display h3 {
  color: white;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
  font-size: 1.2em;
}

.crt-effect {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  max-height: calc(100vh - 160px);
  position: sticky;
  top: 0;
}

.crt-effect::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(255, 255, 255, 0.989) 50%,
    rgba(255, 255, 255, 0.1) 50%
  );
  background-size: 100% 4px;
  pointer-events: none;
  z-index: 2;
  border-radius: inherit;
  border: 18px solid #292929;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    padding: 10px;
    position: relative;
    min-height: 100vh;
  }

  .machine-list {
    width: 90%;
    order: 1;
  }

  .user-games {
    width: 90%;
    order: 2;
    position: relative;
    transform: none;
    left: 0;
    margin-top: 20px;
  }

  .arcade-display {
    max-height: none;
    position: static;
    width: 100%;
    padding: 5px; 
  }

  .crt-effect {
    max-height: none;
    position: static;
    width: 100%;
  }

  .filters {
    padding: 5px;
  }

  .filters input,
  .filters select {
    width: 100%;
  }

  table {
    width: 90%;
    margin: 10px auto; 
    font-size: 1em; 
  }

  table tr th, table tr td {
    padding: 8px; 
    font-size: 0.9em; 
  }

  button {
    font-size: 0.7em; 
    padding: 3px 6px; 
  }

  .button-text {
    display: none; 
  }

  .button-plus {
    display: inline; 
  }

  .arcade-display table {
    width: 100%; 
    font-size: 0.6em;
    table-layout: fixed; 
    margin: 0 auto; 
  }

  .arcade-display th, 
  .arcade-display td {
    padding: 6px; 
    font-size: 0.6em; 
    word-wrap: break-word; 
  }

  /* Arcade táblázat fixálása hogy ne csússzon el mobil nézetben- mint lejebb */
  .arcade-display table:nth-child(2) th:nth-child(1), 
  .arcade-display table:nth-child(2) td:nth-child(1) { width: 35%; } 
  .arcade-display table:nth-child(2) th:nth-child(2), 
  .arcade-display table:nth-child(2) td:nth-child(2) { width: 15%; } 
  .arcade-display table:nth-child(2) th:nth-child(3), 
  .arcade-display table:nth-child(2) td:nth-child(3) { width: 25%; } 
  .arcade-display table:nth-child(2) th:nth-child(4), 
  .arcade-display table:nth-child(2) td:nth-child(4) { width: 20%; } 
  .arcade-display table:nth-child(2) th:nth-child(5), 
  .arcade-display table:nth-child(2) td:nth-child(5) { width: 5%; } 


  .arcade-display table:nth-child(4) th:nth-child(1), 
  .arcade-display table:nth-child(4) td:nth-child(1),
  .arcade-display table:nth-child(6) th:nth-child(1), 
  .arcade-display table:nth-child(6) td:nth-child(1) { width: 45%; } 
  .arcade-display table:nth-child(4) th:nth-child(2), 
  .arcade-display table:nth-child(4) td:nth-child(2),
  .arcade-display table:nth-child(6) th:nth-child(2), 
  .arcade-display table:nth-child(6) td:nth-child(2) { width: 20%; } 
  .arcade-display table:nth-child(4) th:nth-child(3), 
  .arcade-display table:nth-child(4) td:nth-child(3),
  .arcade-display table:nth-child(6) th:nth-child(3), 
  .arcade-display table:nth-child(6) td:nth-child(3) { width: 30%; } 
  .arcade-display table:nth-child(4) th:nth-child(4), 
  .arcade-display table:nth-child(4) td:nth-child(4),
  .arcade-display table:nth-child(6) th:nth-child(4), 
  .arcade-display table:nth-child(6) td:nth-child(4) { width: 5%; } 

  .arcade-display button {
    font-size: 0.9em; 
    padding: 4px 8px; 
  }

  .machine-list h2 {
    margin: 10px 0 5px;
  }
}

@media (max-width: 400px) {
  .machine-list, .user-games {
    width: 100%;
  }

  table {
    width: 95%;
    margin: 10px auto; 
    table-layout: fixed;
    overflow-x: hidden;
    font-size: 1.1em; /
  }

  table tr th, table tr td {
    padding: 10px; 
    font-size: 1em; 
    word-wrap: break-word;
  }

  button {
    font-size: 0.6em; 
    padding: 2px 5px; 
  }

  .button-text {
    display: none; 
  }

  .button-plus {
    display: inline; 
  }

  .arcade-display table {
    width: 100%; 
    font-size: 0.55em; 
    table-layout: fixed; 
    margin: 0 auto; 
  }

  .arcade-display th, 
  .arcade-display td {
    padding: 5px; 
    font-size: 0.55em; 
    word-wrap: break-word; 
  }

  /* Arcade táblázat fixálása hogy ne csússzon el mobil nézetben, a sorrend:név, kiadás, műfaj, kiadó törlés */
  .arcade-display table:nth-child(2) th:nth-child(1), 
  .arcade-display table:nth-child(2) td:nth-child(1) { width: 35%; } 
  .arcade-display table:nth-child(2) th:nth-child(2), 
  .arcade-display table:nth-child(2) td:nth-child(2) { width: 15%; } 
  .arcade-display table:nth-child(2) th:nth-child(3), 
  .arcade-display table:nth-child(2) td:nth-child(3) { width: 25%; } 
  .arcade-display table:nth-child(2) th:nth-child(4), 
  .arcade-display table:nth-child(2) td:nth-child(4) { width: 20%; } 
  .arcade-display table:nth-child(2) th:nth-child(5), 
  .arcade-display table:nth-child(2) td:nth-child(5) { width: 5%; } 

  /* Ez pedig kontroller és flippernél */
  .arcade-display table:nth-child(4) th:nth-child(1), 
  .arcade-display table:nth-child(4) td:nth-child(1),
  .arcade-display table:nth-child(6) th:nth-child(1), 
  .arcade-display table:nth-child(6) td:nth-child(1) { width: 45%; } 
  .arcade-display table:nth-child(4) th:nth-child(2), 
  .arcade-display table:nth-child(4) td:nth-child(2),
  .arcade-display table:nth-child(6) th:nth-child(2), 
  .arcade-display table:nth-child(6) td:nth-child(2) { width: 20%; } 
  .arcade-display table:nth-child(4) th:nth-child(3), 
  .arcade-display table:nth-child(4) td:nth-child(3),
  .arcade-display table:nth-child(6) th:nth-child(3), 
  .arcade-display table:nth-child(6) td:nth-child(3) { width: 30%; }
  .arcade-display table:nth-child(4) th:nth-child(4), 
  .arcade-display table:nth-child(4) td:nth-child(4),
  .arcade-display table:nth-child(6) th:nth-child(4), 
  .arcade-display table:nth-child(6) td:nth-child(4) { width: 5%; } 

  .arcade-display button {
    font-size: 0.8em; 
    padding: 3px 6px; 
  }

  .machine-list h2 {
    font-size: 1.2em;
    margin: 10px 0 5px;
  }

  .filters input,
  .filters select {
    font-size: 0.8em;
    padding: 5px;
    width: 100%;
  }
}