<nav class="navbar">
     <div class="navbar-container">
        <div class="logó">
            <a href="#">Pixel Vault</a>
        </div>
        <div class="menu">
            <ul>
                <li><a routerLink="/">Főoldal</a></li>
                <li><a routerLink="/">Rólunk</a></li>
                <li><a routerLink="/">Kapcsolat</a></li>
            </ul>
        </div>
        <div class="icon">
            <i class="icons" (click)="toggleAuthMenu()">account_circle</i>
            <div *ngIf="showAuthMenu" class="auth-menu">
        
            </div>
        </div>
     </div>
</nav>  