<nav class="navbar">

    <div class="burger" (click)="toggleMenu()">
      <div class="line" [class.open]="isMenuOpen"></div>
      <div class="line" [class.open]="isMenuOpen"></div>
      <div class="line" [class.open]="isMenuOpen"></div>
    </div>
  
     
    <ul class="dropdownmenu" [class.open]="isMenuOpen">
      <li><a href="#">Szia</a></li>
      <li><a href="#">Ádám</a></li>
      <li><a href="#">és</a></li>
      <li><a href="#">Mishy</a></li>
    </ul>
  

    <h2>"In the early '80s, the arcade game Pac-Man was twice as popular as oxygen."</h2>



    <div class="icons">
      <a href="#" class="icon"><i class="fas fa-bell"></i></a>
      <a href="#" class="icon"><i class="fas fa-user"></i></a>
    </div>
  </nav>
  