/* Navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  padding: 10px 20px;
  color: #8000FF;
  position: relative;
  z-index: 1111;
  width: 100%;
  overflow: visible;
}

h2 {
  color: #FF008D;
  text-align: center;
  font-weight: bold;
  font-family: "Press Start 2P", cursive;
  position: relative;
  display: inline-block;
}

/* Burger lenyiló navbar*/
.burger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 1111;
  position: relative;
}

.line {
  width: 25px;
  height: 3px;
  background: #8000FF;
  transition: transform 0.3s;
}

/* Animáció a burger navbarhoz */
.line.open:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.line.open:nth-child(2) {
  opacity: 0;
}

.line.open:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* linkek */
.dropdownmenu {
  position: absolute;
  top: 69px;
  left: 10px;
  background-color: #000000;
  width: 200px;
  display: none;
  flex-direction: column;
  text-align: left;
  padding: 10px 0;
  z-index: 9420;
  border-radius: 5px;
  box-shadow: 0 5px 10px;
}

.dropdownmenu li {
  list-style: none;
  padding: 11px 16px;
}

.dropdownmenu li a {
  text-decoration: none;
  color: #FF008D;
  display: block;
}

.dropdownmenu li a:hover{
  background-color: #000001;
}

.dropdownmenu.open {
  display: flex;
}

/* ikonok */
.icons {
  position: relative;
  display: flex;
  gap: 15px;
}

.icon i {
  font-size: 20px;
  color: white;
  transition: color 0.3s;
}

.icon i:hover {
  color: #ffcc00;
}

.user-dropdown {
  display: none;
  position: absolute;
  background-color: #000001;
  border: 1px solid #001111;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  right: 0;
  left: auto;
  transform: translateX(12.5%);
  z-index: 1000; 
}


.user-dropdown.open {
  display: block;
  top: 58px;
  right: 0;
  left:auto;
  z-index: 1000;
}


.user-dropdown li {
  padding: 10px;
  background-color: #000000;
  border: 1px solid #FF1493;
}

.user-dropdown li a {
  text-decoration: none;
  color: #00CED1;
}

.user-dropdown li a:hover {
  background-color: #050508;
}


/* Reszponzivitás */
@media (max-width: 769px) {
  .nav-links {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background: #000000;
    display: none; 
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
    z-index: 1200;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    padding: 10px;
  }

  .dropdownmenu {
    top: 69px;
  }

  h2 {
    display: none;
  }
}
