<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<div class="forum-container">
  <div class="main-content">

    <div class="post-create">
      <form #addPostForm="ngForm" (ngSubmit)="createPost()">
        <input [(ngModel)]="post.title" maxlength="30" placeholder="Poszt címe" name="title" required />
        <textarea [(ngModel)]="post.content" maxlength="300" placeholder="Poszt tartalma" name="content" required></textarea>
        <button type="submit" [disabled]="addPostForm.invalid">Poszt létrehozása</button>
      </form>
    </div>

    <div class="post-list">
      <div *ngFor="let post of posts_" class="post">
        <h3>{{ post.title }}</h3>
        <p>{{ post.content }}</p>
        <small>Írta: {{ post.User.username }} - {{ post.createdAt | date }}</small>
        
        <button *ngIf="post.userId === userId" (click)="deletePost(post.postId)">Poszt törlése</button>

        <div class="comments-section">
          <h4>Hozzászólások</h4>

          <div *ngFor="let comment of post.comments" class="comment">
            <p>{{ comment.content }}</p>
            <small>Írta: {{ comment.User.username }} - {{ comment.createdAt | date }}</small>

            <button *ngIf="comment.userId === userId" (click)="deleteComment(comment.commentId)">
              Hozzászólás törlése
            </button>
          </div>

          <form #addCommentForm="ngForm" (ngSubmit)="createComment(post.postId)">
            <textarea [(ngModel)]="newComments[post.postId].content" maxlength="150" placeholder="Írj egy hozzászólást..." name="content" required></textarea>
            <button type="submit" [disabled]="addCommentForm.invalid">Hozzászólás</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="sidebar">
    <h3 id="news">Videójáték hírek</h3>
    <ul>
      <div class="elfsight-app-cb217884-8a82-44ec-962c-c5767780f5d2" data-elfsight-app-lazy></div>
      <a href="javascript:void(0);" class="jump-to-news" (click)="scrollToNews()">Ugrás a hírekhez</a>
    </ul>
  </div>
</div>
