<div class="game-container" style="background-image: url('assets/pb.png');">
    <div class="dark-overlay"></div>
    <iframe 
        src="https://www.crazygames.com/embed/paddle-battle" 
        frameborder="0" 
        allow="gamepad *;" 
        allowfullscreen="true"
        webkitallowfullscreen="true"
        mozallowfullscreen="true">
    </iframe>
    <div class="small-screen-message">
        <p>Sajnáljuk de a játék ebben a kijelző méretben nincs támogatva <a href="https://www.crazygames.com/game/paddle-battle" target="_blank">Paddle Battle</a>.</p>
    </div>
</div>
