<div class="bg">
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div style="text-align: center;" *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
  <div style="text-align: center;" *ngIf="errorMessage" class="alert alert-successful">{{ successMessage }}</div>

  <div class="container mt-4" style="background-color: #000000; padding: 20px; border-radius: 5px; max-width: 500px; min-height: 600px;">
   
    <div class="text-center mb-4">
      <h2 style="color: #8000FF; font-family: 'Press Start 2P', cursive;">Regisztráció</h2>
    </div>
    
    <div class="form-check form-switch text-center mb-3">
      <input class="form-check-input" type="checkbox" id="toggleRegistration" (change)="toggleRegistrationType()">
      <label class="form-check-label" for="toggleRegistration">
        {{ isCompanyRegistration ? 'Felhasználó vagyok' : 'Cég vagyok' }}
      </label>
    </div>

    <div *ngIf="isCompanyRegistration; else userReg" class="col-md-12">
    <div class="col-md-6">
      <label for="taxNumber" class="form-label">Adószám</label>
      <input type="text" formControlName="taxNumber" id="taxNumber" class="form-control">
      <small class="text-danger" *ngIf="isInvalid('taxNumber')">Adószám kötelező!</small>
    </div>

    <div class="col-md-6">
      <label for="companyName" class="form-label">Cég neve</label>
      <input type="text" formControlName="companyName" id="companyName" class="form-control">
      <small class="text-danger" *ngIf="isInvalid('companyName')">Cégnevet kötelező megadni!</small>
    </div>
  </div>

    <ng-template #userReg>
      <div class="col-md-6">
        <label for="username" class="form-label">Felhasználónév</label>
        <input type="text" formControlName="username" id="username" class="form-control" required>
        <small class="text-danger" *ngIf="isInvalid('username')">Felhasználónevet kötelező megadni!</small>
      </div>
    </ng-template>

    <div class="col-md-6">
      <label for="email" class="form-label">Email</label>
      <input type="email" formControlName="email" id="email" class="form-control" required>
      <small class="text-danger" *ngIf="isInvalid('email')">E-mail címet helyesen megadni kötelező!</small>
    </div>

    <div class="col-md-6">
      <label for="passwordHash" class="form-label">Jelszó</label>
      <input type="password" formControlName="passwordHash" id="passwordHash" class="form-control" required>
      <small class="text-danger" *ngIf="isInvalid('passwordHash')">Jelszót kötelező megadni!</small>
    </div>

    <div class="text-center mt-5">
      <button type="submit" class="btn btn-secondary w-100"
        [ngClass]="{'btn-success': isCompanyRegistration ? registerForm.get('companyName')?.valid && registerForm.get('taxNumber')?.valid && registerForm.get('email')?.valid && registerForm.get('passwordHash')?.valid : !registerForm.invalid}"
        [disabled]="isCompanyRegistration ? !(registerForm.get('companyName')?.valid && registerForm.get('taxNumber')?.valid && registerForm.get('email')?.valid && registerForm.get('passwordHash')?.valid ) : registerForm.invalid">
        {{ isCompanyRegistration ? 'Céges Regisztráció' : 'Regisztráció' }}
      </button>
    </div>
  </div>
</form>
</div>