<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="container mt-4" style="background-color: #000000; padding: 20px; border-radius: 5px;; max-width: 500px; height: 600px;">
    <div class="text-center mb-4">
      <h2 style="color: #8000FF; font-family: 'Press Start 2P', cursive;">Regisztráció</h2>
    </div>
    <div>
      <div class="col-md-6">
        <label for="username" class="form-label">Felhasználónév</label>
        <input type="text" formControlName="username" id="username" class="form-control" required>
        <small class="text-danger" *ngIf="registerForm.get('username')!.invalid && registerForm.get('username')!.touched">Felhasználónevet kötelező megadni!</small>
      </div>

      <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input type="email" formControlName="email" id="email" class="form-control" required>
        <small class="text-danger" *ngIf="registerForm.get('email')!.invalid && registerForm.get('email')!.touched">E-mail címet helyesen megadni kötelező!</small>
      </div>
    </div>

      <div class="col-md-6">
        <label for="passwordHash" class="form-label">Jelszó</label>
        <input type="password" formControlName="passwordHash" id="passwordHash" class="form-control" required>

        <small class="text-danger" *ngIf="registerForm.get('passwordHash')!.invalid && registerForm.get('passwordHash')!.touched">Jelszót kötelező megadni!</small>
      </div>


      <div class="text-center mt-5" >
        <button type="submit" class="btn btn-secondary w-100" [ngClass]="{'btn-success': !registerForm.invalid}" [disabled]="registerForm.invalid">Regisztráció</button>
      </div>
  </div>
</form>
