<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <label for="username" class="form-label">Felhasználónév</label>
        <input type="text" formControlName="username" id="username" class="form-control" required>
        <small class="text-danger" *ngIf="registerForm.get('username')!.invalid && registerForm.get('username')!.touched">Felhasználónevet kötelező megadni!</small>
      </div>

      <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input type="email" formControlName="email" id="email" class="form-control" required>
        <small class="text-danger" *ngIf="registerForm.get('email')!.invalid && registerForm.get('email')!.touched">E-mail címet helyesen megadni kötelező!</small>
      </div>
    </div>

      <div class="col-md-6">
        <label for="passwordHash" class="form-label">Jelszó</label>
        <input type="password" formControlName="passwordHash" id="passwordHash" class="form-control" required>

        <small class="text-danger" *ngIf="registerForm.get('password')!.invalid && registerForm.get('password')!.touched">Jelszót kötelező megadni!</small>
      </div>


    <div class="mt-4">
      <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Regisztráció</button>
    </div>
  </div>
</form>
