@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.bg {
  display: flex;
  justify-content: center;
  min-height: 89.7vh;
  background-size:  cover;
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-color: #111; 
  z-index: 1; 
  background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url('/assets/log_reg.jpg'); /* https://wallpaperaccess.com/retro-arcade */
}

.container {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
}


.container label {
  display: block;
  margin-bottom: 0.5rem;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.9rem;
}

.container .row {
  display: flex;
  flex-direction: column;
  width: 100%;
} 

.container .col-md-6 {
  width: 100%; 
  margin-bottom: 15px; 
}

.container .col-mt-5 {
  width: 100%; 
  margin-bottom: 15px; 
}
