<form (ngSubmit)="saveProfile()" *ngIf="userProfile">
    <div class="container mt-4" style="background-color: #000000; padding: 20px; border-radius: 5px; max-width: 500px; height: 550px;">
      <div class="text-center mb-4">
        <h2 style="color: #8000FF; font-family: 'Press Start 2P', cursive;">Profil</h2>
      </div>
  
      <div class="mt-3">
        <label class="form-label">Profilkép választás</label>
        <div class="profile-pictures">
          <label>
            <input type="radio" name="profilePic" [value]="'pfp1.png'" [formControl]="profilePic">
            <img src="/Frontend/project/src/assets/pfp1.png" alt="Profilkép 1">
          </label>
          
          <label>
            <input type="radio" name="profilePic" [value]="'pfp2.png'" [formControl]="profilePic">
            <img src="/Frontend/project/src/assets/pfp2.png" alt="Profilkép 2">
          </label>
          
        </div>
      </div>      

      <div class="mt-3">
        <label for="name" class="form-label">Név</label>
        <input type="text" [value]="userProfile.name" (input)="userProfile.name" id="name" class="form-control">
      </div>
  
      <div class="mt-3">
        <label for="age" class="form-label">Életkor</label>
        <input type="text" [value]="userProfile.age" id="age" class="form-control" >
      </div>
  
      <div class="mt-3">
        <label for="phone" class="form-label">Telefonszám</label>
        <input type="text" [value]="userProfile.phone" id="phone" class="form-control">
      </div>
  
        <div class="text-center mt-5" >
          <button type="submit" class="btn btn-secondary w-100">Mentés</button>
        </div>
    </div>
</form>
