<form (ngSubmit)="saveProfile()" *ngIf="userProfile">
    <div class="container mt-4" style="background-color: #000000; padding: 20px; border-radius: 5px; max-width: 500px; height: 400px;">
      <div class="text-center mb-4">
        <h2 style="color: #8000FF; font-family: 'Press Start 2P', cursive;">Profil</h2>
      </div>
  
      <div>
        <label for="name" class="form-label">Név</label>
        <input type="text" [value]="userProfile.name" (input)="userProfile.name" id="name" class="form-control" required>
      </div>
  
      <div class="mt-3">
        <label for="age" class="form-label">Életkor</label>
        <input type="text" [value]="userProfile.age" id="age" class="form-control" required>
      </div>
  
      <div class="mt-3">
        <label for="phone" class="form-label">Telefonszám</label>
        <input type="text" [value]="userProfile.phone" id="phone" class="form-control" required>
      </div>
  
      <div class="text-center mt-5">
        <button type="submit" class="btn btn-secondary w-100">
          Mentés
        </button>
      </div>
    </div>
</form>
